//GAMA DE COLORES
$my-primary-color:(
  50 : #e7e1ed,
  100 : #c3b3d1,
  200 : #9c81b2,
  300 : #744e93,
  400 : #56287c,
  500 : #380265,
  600 : #32025d,
  700 : #2b0153,
  800 : #240149,
  900 : #170137,
  A100 : #9a6eff,
  A200 : #763bff,
  A400 : #5208ff,
  A700 : #4700ee,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$my-accent-color:(
  50 : #ebeff4,
  100 : #ced6e3,
  200 : #aebbd0,
  300 : #8da0bd,
  400 : #748baf,
  500 : #5c77a1,
  600 : #546f99,
  700 : #4a648f,
  800 : #415a85,
  900 : #304774,
  A100 : #bed3ff,
  A200 : #8bb1ff,
  A400 : #588eff,
  A700 : #3f7dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$my-warn-color: (
  50 : #fbf0e9,
  100 : #f5dac8,
  200 : #efc1a3,
  300 : #e9a87e,
  400 : #e49663,
  500 : #df8347,
  600 : #db7b40,
  700 : #d77037,
  800 : #d2662f,
  900 : #ca5320,
  A100 : #ffffff,
  A200 : #ffdccf,
  A400 : #ffb79c,
  A700 : #ffa583,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

:root {
  --primary50 : #e7e1ed;
  --primary100 : #c3b3d1;
  --primary200 : #9c81b2;
  --primary300 : #744e93;
  --primary400 : #56287c;
  --primary500 : #380265;
  --primary600 : #32025d;
  --primary700 : #2b0153;
  --primary800 : #240149;
  --primary900 : #170137;
  --primaryA100 : #9a6eff;
  --primaryA200 : #763bff;
  --primaryA400 : #5208ff;
  --primaryA700 : #4700ee;
  --accent50 : #ebeff4;
  --accent100 : #ced6e3;
  --accent200 : #aebbd0;
  --accent300 : #8da0bd;
  --accent400 : #748baf;
  --accent500 : #5c77a1;
  --accent600 : #546f99;
  --accent700 : #4a648f;
  --accent800 : #415a85;
  --accent900 : #304774;
  --accentA100 : #bed3ff;
  --accentA200 : #8bb1ff;
  --accentA400 : #588eff;
  --accentA700 : #3f7dff;
  --warn50 : #fbf0e9;
  --warn100 : #f5dac8;
  --warn200 : #efc1a3;
  --warn300 : #e9a87e;
  --warn400 : #e49663;
  --warn500 : #df8347;
  --warn600 : #db7b40;
  --warn700 : #d77037;
  --warn800 : #d2662f;
  --warn900 : #ca5320;
  --warnA100 : #ffffff;
  --warnA200 : #ffdccf;
  --warnA400 : #ffb79c;
  --warnA700 : #ffa583;
}
