<!--<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      {{ "Home.Menu.About" | translate }}
    </li>
  </ol>
</nav>-->

<div id="somos">
  <div class="row">
    <h1 class="text-center somosTitulo">
      {{ "About.titulo" | translate }}
    </h1>
    <p class="somosDesc">
      {{ "About.desc" | translate }}
    </p>
  </div>
</div>

<div class="team">
  <div class="row ">
    <h1 class="text-center tituloEquipo">
      {{ "About.equipo" | translate }}
    </h1>
  </div>
  <!--componete equipo -->
  <div class="persona-team-dcha row">
    <div col-6>
      <div class="row">
        <div class="col-4 text-end">
          <img src="../../../assets/img/team/cere.png" class="persona-img" alt="Foto de Cere">
        </div>
        <div class="col-8 text-start">

          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Cere Venteo</div>

              <p>
                Founder & CEO
              </p>
              <p>
                Game Designer & Programmer
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="https://www.linkedin.com/in/cere-venteo-rodrigo-53529a5b/" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>

  <!--componete equipo -->
  <div class="persona-team-izq row">
    <div col-6>
      <div class="row">
        <div class="col-8 text-end">
          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Laia Martinez</div>
              <p>
                3D Artist
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="https://www.linkedin.com/in/laia-martinez-motis-a01647173/" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
        <div class="col-4 text-start">
          <img src="../../../assets/img/team/Patient3Texture.png" class="persona-img" alt="Foto de Laia">
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>

  <!--componete equipo -->
  <div class="persona-team-dcha row">
    <div col-6>
      <div class="row">
        <div class="col-4 text-end">
          <img src="../../../assets/img/team/loren.jpg" class="persona-img" alt="Foto de Lorenzo">
        </div>
        <div class="col-8 text-start">

          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Lorenzo Marfil</div>
              <p>
                Concept Artist
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="#" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>

  <!--componete equipo -->
  <div class="persona-team-izq row">
    <div col-6>
      <div class="row">
        <div class="col-8 text-end">
          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Brer Ballesteros </div>
              <p>
                UI Artist
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="https://www.linkedin.com/in/brerballesteros/" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
        <div class="col-4 text-start">
          <img src="../../../assets/img/team/brer.png" class="persona-img" alt="Foto de Brer">
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>

  <!--componete equipo -->
  <div class="persona-team-dcha row">
    <div col-6>
      <div class="row">
        <div class="col-4 text-end">
          <img src="../../../assets/img/team/nuria.jpg" class="persona-img" alt="Foto de Nuria">
        </div>
        <div class="col-8 text-start">

          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Nuria Nieto</div>
              <p>
                Web Programmer
              </p>
              <p>
                QA
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="https://www.linkedin.com/in/nuria-nieto-a8001160/" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>

  <!--componete equipo -->
  <div class="persona-team-izq row">
    <div col-6>
      <div class="row">
        <div class="col-8 text-end">
          <div class="persona-body">
            <div class="persona-text">
            <div class="persona-titulo">Francisco de la Mata </div>
              <p>
                QA
              </p>
              <!-- Linkedin -->
              <a class="iconEquipo" href="https://www.linkedin.com/in/franciscodelamatarodriguez/" role="button"
                target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a>
            </div>
            <a href="#" class=""></a>
          </div>
        </div>
        <div class="col-4 text-start">
          <img src="../../../assets/img/team/Patient4Texture.png" class="persona-img" alt="Foto de Francisco">
        </div>
      </div>
    </div>
    <div col-6></div>
  </div>
</div>
