.juegos{
  padding-top: 2rem;
}
.juegos .card {
  padding-top: 1rem;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  background-color: #27233d;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 3rem;
}

.juegos .card .imagenJuego {
  height: 60vh;
  margin: auto;
}

.juegos .tituloSeccion {
  font-family: "ItalianRevolution";
  font-size: 5rem;
  padding-bottom: 2rem;
  letter-spacing: 3px;
  color: var(--primary500);
  line-height: 1;
}

.juegos .tituloSeccion.espacio {
  margin-top: 4rem;
}

.juegos .card-img-top {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: auto;
}

.juegos .card-title {
  font-family: "RailroadGothic";
  font-size: 20px;
  color: var(--primary100);
}

.juegos .card-text {
  color: var(--primary100);
}

.juegos fa-icon {
  font-size: 45px;
  color: var(--primary100);
}
.juegos fa-icon:hover {
  color: var(--primary300);
}
