<!--<div class="estiloGeneral">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{'Home.Menu.Juegos' | translate }}</li>
    </ol>
  </nav>
</div>-->


<div class="juegos">
  <div class="row">
    <div class="col-md-12">
      <h2 class="tituloSeccion text-center">
        {{'Home.Menu.Juegos' | translate }}
      </h2>
    </div>
  </div>
  <div class="row" >
      <div class="card" [routerLink]="'/juegoArre'">
        <div class="imagenJuego">
          <img src="../../../assets/img/imgArre/web.jpg" class="card-img-top" alt="Carta presentación arre unicornio">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <h5 class="card-title">
                  {{ 'Juegos.Arre' | translate }}
                </h5>
              </div>
              <div class="row">
                <p class="card-text">
                  {{ 'Juegos.fraseDescArre' | translate }}
                </p>
              </div>
            </div>

            <div class="col-md-3 text-center">
              <div class="card-body">
                <a class="p-3" href="https://store.steampowered.com/app/1673650/Arre_Unicornio/" role="button"
                  target="_blank">
                  <fa-icon [icon]="faSteam"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
