<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Steam -->
      <a class="p-3" href="https://store.steampowered.com/developer/Clygames" role="button" target="_blank">
        <fa-icon [icon]="faSteam"></fa-icon>
      </a>

       <!-- Youtube -->
       <a class="p-3" href="https://www.youtube.com/channel/UCRyPLqfjNOWpryETzt_6REg" role="button" target="_blank">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>

      <!-- Discord -->
      <a class="p-3" href="https://discord.gg/Z8V7s3Zgwt" role="button" target="_blank">
        <fa-icon [icon]="faDiscord"></fa-icon>
      </a>

      <!-- Twitter -->
      <a class="p-3" href="https://twitter.com/clygames_" role="button" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>

      <!-- Instagram -->
      <a class="p-3" href="https://www.instagram.com/clygames_official/" role="button" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>

      <!-- Facebook -->
      <a class="p-3" href="https://www.facebook.com/CLYGAMES/" role="button" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 autoria" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a href="#">NNIECOR</a>
  </div>
  <!-- Copyright -->
</footer>
