/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: RailroadGothic;
  src: url(assets/Fuentes/RailroadGothicCC.otf) format("opentype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer;
}

.estiloGeneral {
  background-color: var(--primary300);
  color: var(--primary100);
}

.container-fluid {
  padding: 0;
}
/*Breadcrumbs*/
.breadcrumb {
  width: 100%;
 background-color: var(--primary200);
 padding: 1rem;
}

.breadcrumb-item.active {
  color: var(--accentA100);
}
/*Fin Breadcrumbs*/
