.enProceso {
  background-color: var(--warn50);
  height: 100vh;
}

.enProceso img {
  height: 75vh;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:auto;
}

.procesoTitulo {
  font-family: "ItalianRevolution";
  font-size: 5rem;
  padding-bottom: 2rem;
  letter-spacing: 3px;
  color: var(--warn900);
  line-height: 1;
}
