<div class="prensaArre">
  <!-- FACTSHEET -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion text-center">
        {{ 'Prensa.fact' | translate }}
      </h2>
    </div>
  </div>
  <div class="row linea">
    <!-- developer -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.desarrollador' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          CLYGAMES
        </div>
      </div>
    </div>
    <!-- location -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.ubicacion' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          Barcelona, {{ 'Contacto.spain' | translate }}
        </div>
      </div>
    </div>
    <!-- web -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.sitioWeb' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          <a href="http://clygames.com/" target="_blank">
            clygames.com
          </a>
        </div>
      </div>
    </div>
    <!-- price -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.precioNormal' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          {{ 'arreUnicornio.precioArre' | translate }}
        </div>
      </div>
    </div>

  </div>
  <!-- platforms -->
  <div class="row linea">
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12">
          <span class="pressTitulo">
            {{ 'Prensa.plataforma' | translate }}
          </span>
        </div>
      </div>
      <div class="row pressCuerpo">
        <a href="https://store.steampowered.com/developer/Clygames">
          {{ 'Prensa.steam' | translate }}
        </a>
      </div>
    </div>
    <!-- release -->
    <div class="col-sm-12 col-md-9">
      <div class="row">
        <div class="col-md-12">
          <span class="pressTitulo">
            {{ 'Prensa.lanzamiento' | translate }}
          </span>
        </div>

      </div>
      <div class="row">
        <span class="pressCuerpo">
          {{ 'arreUnicornio.fechaArre' | translate }}
        </span>
      </div>
    </div>
  </div>

  <!-- DESC -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.desc' | translate }}
      </h2>
    </div>
  </div>

  <div class="row linea pressCuerpo">
    <div class="col-sm-0 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      {{ 'arreUnicornio.descArre' | translate }}
    </div>
    <div class="col-sm-0 col-md-3"></div>
  </div>

   <!-- features -->
   <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.caracteristicas' | translate }}
      </h2>
    </div>
  </div>

  <div class="row linea pressCuerpo">
    <div class="col-sm-0 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <ul>
        <li>
          {{ 'arreUnicornio.caracteristica1' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica2' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica3' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica4' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica5' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica6' | translate }}
        </li>
      </ul>
    </div>
    <div class="col-sm-0 col-md-3"></div>
  </div>
</div>
