<div class="prensaArre">
  <!-- FACTSHEET -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion text-center">
        {{ 'Prensa.fact' | translate }}
      </h2>
    </div>
  </div>
  <div class="row linea">
    <!-- developer -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.desarrollador' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          CLYGAMES
        </div>
      </div>
    </div>
    <!-- location -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.ubicacion' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          Barcelona, {{ 'Contacto.spain' | translate }}
        </div>
      </div>
    </div>
    <!-- web -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.sitioWeb' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          <a href="http://clygames.com/" target="_blank">
            clygames.com
          </a>
        </div>
      </div>
    </div>
    <!-- price -->
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12 pressTitulo">
          {{ 'Prensa.precioNormal' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pressCuerpo">
          {{ 'arreUnicornio.precioArre' | translate }}
        </div>
      </div>
    </div>

  </div>
  <!-- platforms -->
  <div class="row linea">
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="col-md-12">
          <span class="pressTitulo">
            {{ 'Prensa.plataforma' | translate }}
          </span>
        </div>
      </div>
      <div class="row pressCuerpo">
        <a href="https://store.steampowered.com/developer/Clygames">
          {{ 'Prensa.steam' | translate }}
        </a>
      </div>
    </div>
    <!-- release -->
    <div class="col-sm-12 col-md-9">
      <div class="row">
        <div class="col-md-12">
          <span class="pressTitulo">
            {{ 'Prensa.lanzamiento' | translate }}
          </span>
        </div>

      </div>
      <div class="row">
        <span class="pressCuerpo">
          {{ 'arreUnicornio.fechaArre' | translate }}
        </span>
      </div>
    </div>
  </div>

  <!-- DESC -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.desc' | translate }}
      </h2>
    </div>
  </div>

  <div class="row linea pressCuerpo">
    <div class="col-sm-0 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      {{ 'arreUnicornio.descArre' | translate }}
    </div>
    <div class="col-sm-0 col-md-3"></div>
  </div>

  <!-- features -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.caracteristicas' | translate }}
      </h2>
    </div>
  </div>

  <div class="row linea pressCuerpo">
    <div class="col-sm-0 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
      <ul>
        <li>
          {{ 'arreUnicornio.caracteristica1' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica2' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica3' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica4' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica5' | translate }}
        </li>
        <li>
          {{ 'arreUnicornio.caracteristica6' | translate }}
        </li>
      </ul>
    </div>
    <div class="col-sm-0 col-md-3"></div>
  </div>

  <!-- videos -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.videos' | translate }}
      </h2>
    </div>
  </div>

  <!-- img -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.img' | translate }}
      </h2>
    </div>
  </div>

  <!-- Logos e iconos -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.logosIcons' | translate }}
      </h2>
    </div>
  </div>

  <!-- clygames -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.sobreCly' | translate }}
      </h2>
    </div>
  </div>
  <div class="somos">
    <div class="row">
      <div class="logoAbout">
        <img src="./../../../assets/img/Logo_CLYGAMES_negativo.png" alt="logo CLYGAMES">
      </div>
      <p class="somosDesc">
        {{ "About.desc" | translate }}
      </p>
    </div>
  </div>

  <!-- creditos -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="pressSeccion espacio text-center">
        {{ 'Prensa.creditos' | translate }}
      </h2>
    </div>
  </div>
  <div class="row linea pressCuerpo">
    <!--componete equipo -->
    <div class="row">
      <div class="col-sm-12 col-md-3">

        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Cere Venteo</div>

            <p>
              Game Designer & Programmer
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>

      <!--componete equipo -->
      <div class="col-sm-12 col-md-3">
        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Laia Martinez</div>
            <p>
              3D Artist
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>
      <!--componete equipo -->
      <div class="col-sm-12 col-md-3">

        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Ivan Jiménez</div>
            <p>
              Music and SFX
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>

      <!--componete equipo -->
      <div class="col-sm-12 col-md-3">
        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Brer Ballesteros </div>
            <p>
              UI Artist
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>
    </div>
    <!--componete equipo -->
    <div class="row">
      <div class="col-sm-12 col-md-3">

        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Nuria Nieto</div>
            <p>
              Web Programmer, QA
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>


      <!--componete equipo -->
      <div class="col-sm-12 col-md-3">
        <div class="persona-body">
          <div class="persona-text">
            <div class="persona-titulo">Francisco de la Mata </div>
            <p>
              QA
            </p>
          </div>
          <a href="#" class=""></a>
        </div>
      </div>

    <!-- Contacto -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="pressSeccion espacio text-center">
          {{ 'Prensa.Contacto' | translate }}
        </h2>
      </div>
    </div>

    <div class="row linea pressCuerpo">
      <div class="col-md-12">
        <div class="persona-titulo">Email:</div>
        <p>info.clygames@gmail.com</p>
      </div>

    </div>

  </div>
