@import "../../../../assets/estilos/material-personalizado.scss";

.sidenav-container {
  height: 100%;
}

#logoNavBar {
  height: 4.5rem;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 99;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary50);
}

.nav-bar a:hover,
.sidenav-container a.menuComponent:hover,
.nav-bar .icon-navBar:hover {
  color: var(--primary300);
  cursor: pointer;
  pointer-events: auto;
  background-color: none;
}

.nav-bar .menuNavBar .menuComponent {
  border: var(--primary50);
  border-right: var(--primary200);
  border-left: var(--primary200);
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
}

.sidenav-container .menuComponent {
  font-family: "RailroadGothic";
  font-size: 20px;
  color: var(--primary400);
}
/* ICONOS */
.nav-bar .icon-navBar {
  color: var(--primary400);
  cursor: pointer;
  pointer-events: auto;
}

/* MENU HORIZONTAL */
.sidenav-container .mat-toolbar-row {
  justify-content: space-between;
}

/*MENU VERTICAL*/
mat-nav-list .mat-list-item-content {
  justify-content: center !important;
}

mat-sidenav {
  background-color: var(--primary50);
}

mat-sidenav #logoNavBar {
  margin-top: 1rem;
}

//************************ MEDIA QUERIES **************//
@media (max-width: 960px) {
  .menuNavBar {
    display: none;
  }
}
@media (min-width: 961px) {
  .sidenav {
    display: none;
  }
}
