<!--<div class="estiloGeneral">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{'Home.Menu.Empleo' | translate }}</li>
    </ol>
  </nav>
</div>-->

<div class="row">
  <!-- Start contact icon column -->
  <div class="col-md-4">
    <div class="contact-icon text-center">
      <div class="single-icon">
        <i class="bi bi-phone"></i>
        <p>
          Call: +1 5589 55488 55<br>
          <span>Monday-Friday (9am-5pm)</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Start contact icon column -->
  <div class="col-md-4">
    <div class="contact-icon text-center">
      <div class="single-icon">
        <i class="bi bi-envelope"></i>
        <p>
          Email: info@example.com<br>
          <span>Web: www.example.com</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Start contact icon column -->
  <div class="col-md-4">
    <div class="contact-icon text-center">
      <div class="single-icon">
        <i class="bi bi-geo-alt"></i>
        <p>
          Location: A108 Adam Street<br>
          <span>NY 535022, USA</span>
        </p>
      </div>
    </div>
  </div>
</div>
